@model Sportzall.Models.User
@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Користувач</h4>
    
    </hr>
      <div class="col-4">
                      <img src="@URL.ImageUserURL@Model.Image" width=" 100%" style="border-radius:5px; border:1px solid #bbb" />
                 </div>
    <dl class="row">
        <dt class="col-sm-2">
            Ім'я
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.Name)
        </dd>
        <dt class="col-sm-2">
             Рік народження
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.Year)
        </dd>
        <dt class="col-sm-2">
            Коротка інформація
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.ShortInfo)
        </dd>
         <dt class="col-sm-2">
             Номер телефону
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.PhoneNumber)
        </dd>

         <dt class="col-sm-2">
             Жим від грудей
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.ChessPress)
        </dd>

         <dt class="col-sm-2">
             Жим лежачи
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(modelItem => modelItem.BenchPress)
        </dd>

        <dt class="col-sm-2">
           Присід
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Squat)
        </dd>
       

          
        
    </dl>
    
</div>

