@model IEnumerable<Hours>
@{
    ViewData["Title"] = "Details";
}

<h1>Записи</h1>

<div>
    <h4>Мої записи</h4>
    
    </hr>
     @* <div class="col-4">
                      <img src="@URL.ImageUserURL@Model.Image" width=" 100%" style="border-radius:5px; border:1px solid #bbb" />
                 </div>*@
        <br />
    <table class="table table-dark table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>
                       Мої записи
                    </th>
                <th>
                    
                </th>
                <th>
                    
                </th>
                <th>
                    
                </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                         <td>
                            @obj.Week.NameofDay
                        </td>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                            @obj.Week.User.Name
                        </td>     
                        <td>
                                <div class="w-75 btn-group" role="group">
                                        <a  asp-action="DeleteMeTofromMyRecords" asp-route-id="@obj.Id " class=" btn btn-danger mx-2">Скасувати запис</a>
                                </div>
                       </td>  
                    </tr>
                }
            </tbody>
        </table>
</div>


