@model Sportzall.Models.ViewModel.HoursUserViewModel
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-light">My Team</h2>
        </div>
    </div>
    <br /><br />
    
    @if (Model.Treners.Count()>0)
    {
        <table class="table table-dark table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>
                      Ім'я
                    </th>
                    <th>
                       Роль
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model.Treners)
                {
                    <tr>
                        <td>
                            <a asp-controller="User" asp-route-Id="@obj.UnicKey" asp-action="Details" >
                                @obj.Name
                            </a>
                        </td>
                        <td>
                            @obj.Year
                        </td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                 <a asp-controller="Trener" asp-route-Id="@obj.Id" asp-route-HoursId="@Model.HoursId" asp-action="AddToTheTrenerAtHour" class=" btn btn-warning mx-2">
                                    Додати
                                 </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> Немає користувачів </p>
    }
</div>